/*-- scss:defaults --*/

// import font
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


/*-- scss:variables --*/

// scss-docs-start color-variables

$primary: #447099; /*posit-blue*/
$posit-dark-blue-1: #305775;
$posit-dark-blue-2: #213D4F;
$posit-orange:  #EE6331;
$posit-gray:    #404041;
$posit-teal:    #419599;
$posit-green:   #72994E;
$posit-burgundy:#9A4665;
$posit-burgundy-1:#78384F;
$posit-burgundy-2:#542938;
// scss-docs-end color-variables

// Typography
// Font, line-height, and color for body text, headings, and more.

//scss-fon-start font-variables
$font-family-sans-serif: "Open Sans",   system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
// scss-docs-end font-variables

$body-color: #404041; /* posit gray */

// scss-docs-start font-sizes
$h1-font-size:44px;
$h2-font-size:28px;
// scss-docs-end font-sizes


// Headings
// scss-docs-start headings-variables
//$headings-font-weight: 300 !default;
// scss-docs-end headings-variables


//  Customize the navbar
$navbar-bg: #ffffff;
$navbar-fg: #888888;
$navbar-hl: #000000;
$navbar-brand: $body-color;
$navbar-brand-hl: $navbar-brand;
//$navbar-brand-font-size: 14px !default;


// CSS overrides

h1, .h1, h2, .h2 {
    color: inherit;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: 300 !important;
}

h2, .h2 { 
  border-bottom: none !important;
}

.navbar {
  box-shadow: 0 0 0.2rem #0000001a, 0 0.1rem 0.4rem #0003;
  transition: transform .25s cubic-bezier(.1,.7,.1,1),box-shadow .25s;
}

.navbar-title {
    font-family: Source Code Pro,monospace;
}

.nav-link {
    font-family: Source Code Pro,monospace;
    text-transform: uppercase;
}

/* Posit logo - navbar */
#footer-logo {
    width: 70px;
    min-width: 70px;
}
